.footer__copyright
{
    font-size: 14px;
    line-height: 16px;

    margin: 0 0 0 auto;

    text-align: right;

    color: #fff;
}

@media (max-width: 768px){
    .footer__copyright{
        margin: 0;
        line-height: 14px;
        margin-top: 16px;
    }
}